.login {
    text-align: center;
    width: 350px;
}

.login__field {
    padding: 20px;
    position: relative;
}


.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #4d499f;
}

.login__submit {
    background: #0c0a2e;
    color: white;
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.request {
    padding: 1rem;
    border: 2px solid rgb(9, 1, 51);
    border-radius: 1rem;
}